
 <div class="spacer"></div>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p>"Inspiration does exist but it must find you working - Pablo Picasso"</p> 
    <p>All rights reserved, ©2025 Lissette Schettini</p>
      
<!-- <div class="card"> -->
  <!-- <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
     
      <footer class="blockquote-footer">-Pablo Picasso <cite title="Source Title"></cite></footer>
    </blockquote>
  </div>
</div>  -->
</footer>