<header>
    
<div class="d-flex mb-6">
        <a class="navbar-brand" href="#splash">
          <img class="btn btn-primary" src="./images/cherrybomb.png" height="38" role="img" alt="cherrybomb"></a>
          <!-- <div class="d-flex">   -->

      <a href="#feature"><button type="button"class="btn btn-primary">Featured</button></a>
       <a href="./projects"><button type="button"class="btn btn-primary">Projects</button></a>
      <a href="./about"><button type="button"class="btn btn-primary">About</button></a>  
      <a href="./contact"><button type="button"class="btn btn-primary">Contact</button></a> 
     <div class="ms-auto p-2"></div>
      <a href="./wallet-connect"></a>

     <button type="button" class="btn btn-primary position-relative">
        Connect Wallet <span class="position-absolute top-0 start-100 translate-right"><span 
        class="visually-hidden">unread messages</span></span> </button> 
        </div>
        </div>
</header>


