<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scales=1.0">
  <link rel="icon" type="image/x-icon" href="/images/favicom.ico">
  <title>New project</title> 
  <meta name="author"content="Lissette Schettini">
  <meta name=" description" content="A page to start a new project.">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div>New project</div>
  <script type="module" src="./js/index.js"></script>
</body>

</html>