html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
box-sizing: inherit;
}

body {
background-color: rgb(250, 212, 208);
font-family: "Montserrat", serif;
font-optical-sizing: auto;
font-weight: 200;
font-style: normal;


h1 {
  text-align: center;
  color: rgb(226, 5, 5);
  font-family: "Raleway", serif;
  font-weight: 600;
  font-style: semi-bold;
}

h2 {
  text-align: center;
  color: rgb(226, 5, 5);
  font-family: "Raleway", serif;
}

#featuredImage {
  width: 100%; /* Or set a fixed width */
  max-width: 1600px; /* Adjust as needed */
}

h3 {
  text-align: center;
  /* color: rgb(38, 83, 231); */
  color: #050655;
  font-size:80px;
  font-family: "Bebas Neue", sans-serif;
}

  .form-control-dark {
    border-color: var(--bs-gray);
  }
  
header{
  padding: 20px;
  /* background-color: #333; */
  background-color: #020345;
  border: 10px solid;
  /* color: #333; */
  color: #020345;
}

.spacer {
  min-height: 80px;
}


 footer{
  padding: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
 }
 @media (max-width: 768px) {
    h1 {
      font-size: 8vw; /* Larger font size for smaller screens */
    }

    h2 {
      font-size: 6vw; /* Larger font size for smaller screens */
    }

    h3 {
      font-size: 8vw; /* Larger font size for smaller screens */
    }

    h4 {
      font-size: 4vw; /* Larger font size for smaller screens */
    }
  }

}